
<h1>Listing articles</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>ID Number</th>
    <th colspan="3"></th>
  </tr>

  <% @subscribers.each do |subscriber| %>
    <tr>
      <td><%= subscriber.firstName %></td>
      <td><%= subscriber.idNumber %></td>
      <td><%= link_to 'Show', subscriber_path(subscriber) %></td>
      <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
      <td><%= link_to 'Destroy', subscriber_path(subscriber),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
